<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<h1>Spring Shop</h1>
<h2>You are not logged in!</h2>
<button onclick="window.location.href='/login'">Login</button>
<button onclick="window.location.href='/register'">Register</button>
<button onclick="window.location.href='/admin/'">Admin</button>
<button onclick="window.location.href='/basket'">Basket</button>
<h2>Products</h2>

<!-- Sorting and Filtering Form -->
<form th:action="@{/}" method="get">
    <label for="sortBy">Sort by:</label>
    <select name="sortBy" id="sortBy">
        <option value="name">Name</option>
        <option value="price">Price</option>
    </select>

    <label for="minPrice">Min Price:</label>
    <input type="number" name="minPrice" id="minPrice" step="0.01" />

    <label for="maxPrice">Max Price:</label>
    <input type="number" name="maxPrice" id="maxPrice" step="0.01" />

    <button type="submit">Apply</button>
</form>

<!-- Product List -->
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.amount}"></td>
        <td>
            <form action="/addToCart" method="post">
                <button type="submit">Add to cart</button>
            </form>
        </td>

    </tr>
    </tbody>
</table>
</body>
</html>