<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div th:if="${#lists.size(orderList) == 0}">
    <p>No orders :(</p>
</div>
<div th:unless="${#lists.size(orderList) == 0}">
    <ul th:each="order, iterStat : ${orderList}">
        <li>
            <span th:text="${iterStat.index + 1}"></span> Id: <span th:text="${order.orderId}"></span> First Name: <span th:text="${order.firstName}"></span> Last Name: <span th:text="${order.lastName}"></span> Address: <span th:text="${order.address}"></span> Post Code: <span th:text="${order.postCode}"></span> City: <span th:text="${order.city}"></span> Date of Order: <span th:text="${order.created}"></span>
        </li>
    </ul>
</div>

<a th:href="@{/admin/}">Return to Admin Panel</a>
</body>
</html>